<!DOCTYPE html>
<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->
<html>

<head>
    <title>Create a new chat room! | RedBlade</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
</head>

<body>
    <header class="homebanner">
        <h1 class="homebannertext">
				<a href="" id="logo">Welcome to RedBlade web chat 
			</h1>
    </header>
    <section>
        <div class="homesection">
            <h1 id="chat">powered by RedBlade software</h1>
        </div>
        <a title="Create" href="/create" id="create">
            <div id="createbutton">
                <div id="little">Create a Private</div>
                <div id="big">CHAT ROOM!</div>
            </div>
        </a>
        <div class="tutorial">
            </a>
        </div>
        </div>
    </section>
</body>

</html>
